body{
    box-sizing: border-box;
    margin: 1em 2em;
}
header{
    display: flex;
    justify-content: space-between;
} 
.logo svg{
    /* padding: 20em; */
   width: 90%;
   /* max-height: 50%; */
}
.tryBtn button{
    color: pink;
    text-decoration: dashed;
    border-radius: 20%;
    border: 1px solid pink;
    background-color: white;
    padding: 5px;
    /* margin-right: 1em; */
}
.tryBtn button:hover{
    background-color: pink;
    color: white;
}
main{
    /* margin: 6em; */
    text-align: center;
}
.images{
    max-width: 10;
}



.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }