body{
    box-sizing: border-box;
    margin: 1em 2em;
}
header{
    display: flex;
    justify-content: space-between;
} 
.logo img{
    width: 80%;
}

.tryBtn button{
    color: pink;
    text-decoration: dashed;
    border-radius: 20%;
    border: 1px solid pink;
    background-color: white;
    padding: 5px;
    /* margin-right: 1em; */
}
.tryBtn button:hover{
    background-color: pink;
    color: white;
}
main{
    /* margin: 6em; */
    text-align: center;
    margin-top: 4em;
}
.images img{
    width: 80%;
    padding: 4em 7em;
}
.stats{
    display: flex;
    justify-content: space-evenly;
}
.textimg{
    display: flex;
    justify-content:space-between;
    width: 90%;
    align-items: center;
    padding: 2em 4em;
}
.txt{
    margin: 1em 8em;
}
.textimg img{
    width: 80%;
}

.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }